<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="Style/style.css" />
		<title>Contactos</title>
	</head>
	<header class="page-head">
		<img
			class="logo"
			src="img/Recurso1.svg"
			alt="Logo"
			width="100"
			height="50"
		/>
		<nav class="navbar navbar-expand-lg">
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="index.html">Home</a>
					</li>
					<li class="nav-item">
						<a href="Cotizar.html">Cotizar</a>
					</li>
					<li class="nav-item">
						<a href="Trabajos.html">Trabajos</a>
					</li>
					<li class="nav-item">
						<a href="Contactos.html">Contacto</a>
					</li>
					<li class="nav-item">
						<form class="form-inline my-2 my-lg-0">
							<input
								class="form-control mr-sm-2"
								type="search"
								placeholder="Search"
								aria-label="Search"
							/>
							<button
								class="btn btn-outline-secondary my-2 my-sm-0"
								type="submit"
							>
								Search
							</button>
						</form>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="page-head-trabajos">
		<h1 class="Trabajos_carta" style="margin-top: 10px">Contactos</h1>
	</div>
	<article class="page">
		<div class="row">
			<div class="container-trabajosX col-sm-12" style="margin-bottom: 5px">
				<div class="col-md-4">
					<img
						src="img/mecanico-720x350.jpg"
						width="250"
						height="200"
						style="
							align-items: center;
							float: left;
							margin-top: 30px;
							margin-bottom: 30px;
						"
					/>
				</div>
				<div class="page-text" style="padding-left: 100px">
					<p><br />ESTADO : DISPONIBLE</p>
					<div>
						<p><br />MECANICO: BYRON NUÑEZ</p>
					</div>
					<div>
						<p><br />CORREO:BYRONNUNEZ@MECA.CL</p>
					</div>
					<div>
						<p><br />NUMERO:56933432</p>
					</div>
				</div>
			</div>
			<div class="container-trabajosX col-sm-12" style="margin-bottom: 5px">
				<div class="col-md-4">
					<img
						src="img/mecanico-automotriz.jpg"
						width="250"
						height="200"
						style="
							align-items: center;
							float: left;
							margin-top: 30px;
							margin-bottom: 30px;
						"
					/>
				</div>
				<div class="page-text" style="padding-left: 100px">
					<p><br />ESTADO : DISPONIBLE</p>
					<div>
						<p><br />MECANICO: MARCO ESTRADA</p>
					</div>
					<div>
						<p><br />CORREO:MARCOESTRADA@MECA.CL</p>
					</div>
					<div>
						<p><br />NUMERO:59443532</p>
					</div>
				</div>
			</div>
			<div class="container-trabajosX col-sm-12" style="margin-bottom: 5px">
				<div class="col-md-4">
					<img
						src="img/5f15f32126444.jpeg"
						width="250"
						height="200"
						style="
							align-items: center;
							float: left;
							margin-top: 30px;
							margin-bottom: 30px;
						"
					/>
				</div>
				<div class="page-text" style="padding-left: 100px">
					<p><br />ESTADO : DISPONIBLE</p>
					<div>
						<p><br />MECANICO: ALONSO SEPULVEDA</p>
					</div>
					<div>
						<p><br />CORREO:ALONSOSEPUlVEDA@MECA.CL</p>
					</div>
					<div>
						<p><br />NUMERO:54113248</p>
					</div>
				</div>
			</div>
		</div>
	</article>
	<body>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"
		></script>
	</body>
	<footer class="final">
		<div class="container">
			<div class="ftr">
				<center>
					<h1 class="letras">Ayuda</h1>
				</center>
				<ul class="content">
					<li><a href="#">Trabajos</a></li>
					<li><a href="#">Servicios</a></li>
					<li><a href="#">Mecanicos</a></li>
				</ul>
			</div>

			<div class="ftr">
				<center>
					<h1 class="letras">Contacto</h1>
				</center>
				<ul class="content">
					<li><a href="#">RayoMcween@gmail.com</a></li>
					<li><a href="#">(+56) 9999999999</a></li>
					<li><a href="#">Radiador Springs</a></li>
				</ul>
			</div>

			<div class="ftr">
				<center>
					<h1 class="letras">Redes sociales</h1>
				</center>

				<ul class="content">
					<li><a href="#">facebook</a></li>
					<li><a href="#">twitter</a></li>
					<li><a href="#">instagram</a></li>
				</ul>
			</div>
		</div>
	</footer>
</html>
